.form-block {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  width: 100%;
  padding: 15px;
  padding-left: 30px;
  border: none;

  margin-bottom: 20px;
}

.form-block__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding-left: 2ch;
}
