.app-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.header-controls__inline {
  display: inline-block;
}

.header-controls__button {
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 3px;

  margin: 5px;
}