.textarea__flex {
  display: flex;
  flex-flow: row nowrap;
  
  justify-content: space-between;
  align-items: flex-start;
}

.textarea__flex > textarea {
  width: 70%;
  min-width: 300px;
  min-height: 30px;
  resize: vertical;

  border: 1px solid #CCC;
  padding: 5px;
}

.date-range {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  column-gap: 50px;
  row-gap: 10px;
}

.job-entry__flex {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  column-gap: 50px;
}