.named-input__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  row-gap: 1rem;
  position: relative;
  width: 100%;
}

.named-input__required::before {
  content: '*';
  color: red;

  position: absolute;
  left: -0.8em;
}