.tag-builder__flex {
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-start;
  align-items: baseline;
  column-gap: 10px;
}

.tag {
  border-radius: 6px;
  padding: 5px;
  text-align: center;

  color: black;
  background-color: #DDD;
}

.skills-input {
  border: 1px solid #DDD;
  border-radius: 3px;
  height: 1.7em;
  padding: 7px; 
}