@import "normalize.css";

:root {
  box-sizing: border-box;

  font-family: 'Lato';
  font-size: 12pt;
  color: #333;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.App {
  width: clamp(320px, 90%, 700px);
  margin: 0 auto;
}

button {
  appearance: none;
  
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 3px;

  margin: 5px;
}
